<br />
<br />
<div class="container-fluid twitter-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <i class="fas fa-plane fa-5x"></i>
              <i class="fas fa-train fa-5x"></i>
              <i class="fas fa-bus fa-5x"></i>
            <br />
              <i class="fas fa-car fa-5x"></i>
              <i class="fas fa-bicycle fa-5x"></i>
              <i class="fas fa-walk fa-5x"></i>

            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-7">
                <br />
                <p class="h2 section-header">{{heading1}}</p>
                <p class="section-paragraph">{{message1}}</p>
                <br />
                <p class="h2 section-header">{{heading2}}</p>
                <p class="section-paragraph">{{message2}}</p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
