<div class="container-fluid twitter-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-7">
                <br />
                <p class="h2 section-header">{{heading1}}</p>
                <p class="section-paragraph">{{message1}}</p>
                <br />
                <p class="h2 section-header">{{heading2}}</p>
                <p class="section-paragraph">{{message2}}</p>
            </div>
        </div>
    </div>
</div>