<br />
<br />
<div class="container-fluid twitter-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <br />
                <!-- Following snippet was copied from https://publish.twitter.com/ -->
                <a class="twitter-timeline" data-width="300" data-height="400" href="https://twitter.com/pyconca?ref_src=twsrc%5Etfw">Tweets by pyconca</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <!-- Above was copied over from twitter -->
                <br />
                <br />
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-7">
                <br />
                <p class="h2 section-header">{{heading1}}</p>
                <p class="section-paragraph">{{message1}}</p>
                <br />
                <p class="h2 section-header">{{heading2}}</p>
                <p class="section-paragraph">{{message2}}</p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
