<br/>
<br/>
<div class="container">
    <table class="schedule-table">
        <tbody>
            {% for event in global_data[details]['events'] %}
                {% if event['type'] == 'keynote' %}
                    {% for room in event["rooms"] %}
                        <tr>
                            {% if loop.first %}
                                <td class="time" rowspan="{{ event["rooms"] | length }}">
                                    {{ event["time_start"] }}
                                </td>
                            {% endif %}
                            <td class="schedule-table--col-description-keynote">
                                {{ room["talk_title"] }}
                                <br/>
                                {{  room["speaker_name"]  }}
                            </td>
                            <td class="duration">{{ event["duration"] }}</td>
                        </tr>
                    {% endfor %}
                {% elif event['type'] == 'talk' %}
                    {% for room in event["rooms"] %}
                        <tr>
                            {% if loop.first %}
                                <td class="time" rowspan="{{ event["rooms"] | length }}">
                                    {{ event["time_start"] }}
                                </td>
                            {% endif %}
                            <td class="schedule-table--col-description">

                                <a href="/talks/talk-{{ room['ref'] }}/" >
                                    {{ global_data['talks/' + room['ref']]["talk_title"] }}
                                </a>
                                <br/>
                                <b>{{ room["location"] }}</b>
                                <br/>
                                {{  global_data['talks/' + room['ref']]['speaker_name']  }}
                            </td>
                            <td class="duration">{{ room["duration"] }}</td>
                        </tr>
                    {% endfor %}
                {% elif event['type'] == 'lunch_break' %}
                    <tr>
                        <td class="time">
                            {{ event["time_start"] }}
                        </td>
                        <td class="schedule-table--col-description-keynote">
                            {{ messages("Lunch") }}
                        </td>
                        <td class="duration">{{ event["duration"] }}</td>
                    </tr>
                {% elif event['type'] == 'break' %}
                    <tr>
                        <td class="time">
                            {{ event["time_start"] }}
                        </td>
                        <td class="schedule-table--col-description-keynote">
                            {{ event["title"] }}
                        </td>
                        <td class="duration">{{ event["duration"] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
