<div class="container-day-1">
    <div class="row">
            <!-- Display for desktop -->

<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{link_1}}">
        <img class="img-fluid" src="/images/day-1-active.png" alt="day 1 schedule">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{link_2}}">
        <img class="img-fluid" src="/images/day-2.png" alt="day 2 schedule">
    </a>
</div>
<div class="col-lg-4 col-md-4 col-xs-4 thumb">
    <a class="thumbnail" href="{{link_3}}">
        <img class="img-fluid" src="/images/day-3.png" alt="Sprints">
    </a>
</div>
</div>
</div>
