<br />
<br />
<div class="container">
  <div class="row justify-content-between">
    <div class="order-lg-12 col-xs-12 col-lg-4">
        <img src="{{logo_path}}" class="img-fluid mx-auto d-block" alt="Logo">
    </div>
    <div class="order-lg-1 col-xs-12 col-lg-7">
        <br />
        <p class="h2 section-header">{{section_title}}</p>
        <p class="section-paragraph">{{section_message}}</p>
    </div>
  </div>
</div>
