<div class="container">
    <div class="row">
        <div class="col">
            <p class="sponsor-title">{{ page_heading }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="sponsor-message">{{ page_message }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a class="btn sponsor-button-left p-1 m-1" href="{{ left_button_url }}" role="button">{{ left_button_message }}</a>
            <a class="btn sponsor-button-right p-1 m-1" href="{{ right_button_url }}" role="button">{{ right_button_message }}</a>
        </div>
    </div>
    <br />
</div>
