<div class="container">
    <div class="row">
        <div class="col">
            <p class="sponsor-title">{{ page_heading }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="sponsor-message">{{ page_message }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
           
            <span class="mx-2">
                <a class="blue-button" href="{{ left_button_url }}">
                <span>{{ left_button_message }}</span>
                </a>
            </span>


            <span class="mx-2">
                <a class="red-button" href="{{ right_button_url }}" target="_blank">
                <span>{{ right_button_message }}</span>
                </a>
            </span>



        </div>
    </div>
    <br />
</div>
